<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Google tag (gtag.js) -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-2YBFQLPFRL"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-2YBFQLPFRL");
        </script>

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link
            rel="stylesheet"
            href="{{ url_for('static',filename='styles/home.css') }}"
        />
        <script
            src="{{ url_for('static',filename='scripts/home.js') }}"
            defer
        ></script>

        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="{{ url_for('static',filename='elements/apple-touch-icon.png') }}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="{{ url_for('static',filename='elements/favicon-32x32.png') }}"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="{{ url_for('static',filename='elements/favicon-16x16.png') }}"
        />
        <link
            rel="manifest"
            href="{{ url_for('static',filename='elements/site.webmanifest') }}"
        />
        <link
            rel="mask-icon"
            href="{{ url_for('static',filename='elements/safari-pinned-tab.svg') }}"
            color="#5bbad5"
        />
        <meta name="msapplication-TileColor" content="#303134" />
        <meta name="theme-color" content="#ffffff" />

        <!-- <link rel="stylesheet" href="./home.css"> -->

        <title>Arstanbek Usenov // Software Developer</title>
        <meta name="title" content="Arstanbek Usenov // Software Developer" />
        <meta name="description" content="Here you can find Arstanbek's CV" />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://arstan.page" />
        <meta
            property="og:title"
            content="Arstanbek Usenov // Software Developer"
        />
        <meta
            property="og:description"
            content="Here you can find Arstanbek's CV"
        />
        <meta
            property="og:image"
            content="https://arstan.page/static/elements/cvphoto.jpg"
        />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://arstan.page" />
        <meta
            property="twitter:title"
            content="Arstanbek Usenov // Software Developer"
        />
        <meta
            property="twitter:description"
            content="Here you can find Arstanbek's CV"
        />
        <meta
            property="twitter:image"
            content="https://arstan.page/static/elements/cvphoto.jpg"
        />
    </head>
    <body class="body">
        <main class="cv">
            <div class="side">
                <input
                    type="checkbox"
                    id="switch-button"
                    onclick="myFunction()"
                />
                <div class="langs">
                    <a class="langswitch" href="/ru">RU</a>
                    <a class="langswitch" href="/">EN</a>
                    <a href="/download" class="download2">
                        <div style="pointer-events: none">
                            <object
                                data="{{ url_for('static',filename='elements/download.svg') }}"
                                width="40"
                                height="40"
                            ></object>
                        </div>
                    </a>
                    <label for="switch-button" id="label">
                        <object
                            data="{{ url_for('static',filename='elements/sun.svg') }}"
                            width="40"
                            height="40"
                            id="sun"
                        ></object>
                        <object
                            data="{{ url_for('static',filename='elements/moon.svg') }}"
                            width="40"
                            height="40"
                            id="moon"
                        ></object>
                    </label>
                </div>

                <div class="picture">
                    <img
                        id="img"
                        src="{{ url_for('static',filename='/elements/pfp.jpg') }}"
                        alt="myPicture"
                    />
                </div>
                <h1 class="name">Arstanbek Usenov</h1>
                <span class="location">Dubai, UAE</span>

                <hr class="linedivider" />

                <div class="contactinfo">
                    <h2 class="contactinfo-title">Contact Info</h2>
                    <div class="contact">
                        <div class="contact-icon">
                            <!-- <i class="envelope outline icon" style="margin-bottom: 5px;"></i> -->
                            <object
                                data="{{ url_for('static',filename='elements/mail.svg') }}"
                                width="24"
                                height="24"
                            ></object>
                        </div>

                        <a
                            href="mailto:arstan.usenov@gmail.com"
                            class="contact-href contact-text"
                        >
                            arstan.usenov@gmail.com
                        </a>
                    </div>
                    <div class="contact">
                        <div
                            class="contact-icon"
                            style="transform: scale(0.85); margin-bottom: 5px"
                        >
                            <object
                                data="{{ url_for('static',filename='elements/linkedin.svg') }}"
                                width="24"
                                height="24"
                            ></object>
                        </div>
                        <a
                            class="contact-href contact-text"
                            href="https://www.linkedin.com/in/arstanbek-usenov-a68a78225/"
                        >
                            Open in LinkedIn
                        </a>
                    </div>
                    <div class="contact">
                        <div class="contact-icon">
                            <object
                                data="{{ url_for('static',filename='elements/telegram.svg') }}"
                                width="24"
                                height="24"
                            ></object>
                        </div>
                        <a
                            class="contact-href contact-text"
                            href="https://t.me/Barnacle/"
                            >Message on Telegram
                        </a>
                    </div>
                </div>

                <hr class="linedivider" />

                <div class="education-info">
                    <h2 class="education-title">Education</h2>
                    <div class="education">
                        <span class="education-year">Sep 2024 - May 2028</span>
                        <span class="education-program"
                            >BSc in Management & Technology</span
                        >
                        <span class="education-place"
                            >TETR College of Business</span
                        >
                    </div>
                    <div class="education">
                        <span class="education-year">May 2023 - Jun 2023</span>
                        <span class="education-program">Hero Training</span>
                        <span class="education-place"
                            >Draper University, US</span
                        >
                    </div>
                    <div class="education">
                        <span class="education-year">Sep 2021 - Jul 2022</span>
                        <span class="education-program"
                            >Engineering Stream</span
                        >
                        <span class="education-place">
                            Twente Pathway College, NL
                        </span>
                    </div>
                    <div class="education">
                        <span class="education-year">Oct 2019 - Jun 2020</span>
                        <span class="education-program"
                            >Java Backend Course</span
                        >
                        <span class="education-place">IT-Academy, KG</span>
                    </div>
                    <div class="education">
                        <span class="education-year">May 2019 - Jul 2019</span>
                        <span class="education-program"
                            >Python Core Course</span
                        >
                        <span class="education-place">IT-Academy, KG</span>
                    </div>
                </div>

                <hr class="linedivider" />

                <div class="language-info">
                    <h2 class="language-title">Languages</h2>
                    <div class="language">
                        <p class="language-name">English</p>
                        <p class="language-level">Advanced(C1) - IELTS 8.0</p>
                    </div>
                    <div class="language">
                        <p class="language-name">Russian</p>
                    </div>
                </div>
            </div>

            <div class="omitter">
                <hr class="linedivider" />
            </div>
            <input type="checkbox" id="switch-button2" onclick="myFunction()" />
            <div class="main">
                <div class="buttons">
                    <a href="/download" class="download">
                        <div style="pointer-events: none">
                            <object
                                data="{{ url_for('static',filename='elements/download.svg') }}"
                                width="40"
                                height="40"
                            ></object>
                        </div>
                    </a>
                    <label for="switch-button2" id="label2">
                        <object
                            data="{{ url_for('static',filename='elements/sun.svg') }}"
                            width="40"
                            height="40"
                            id="sun"
                        ></object>
                        <object
                            data="{{ url_for('static',filename='elements/moon.svg') }}"
                            width="40"
                            height="40"
                            id="moon"
                        ></object>
                    </label>
                </div>
                <div class="skills">
                    <h2 class="skills-title">Skills</h2>

                    <div class="skill">
                        <h3 class="skill-category">Programming Languages</h3>
                        <p class="skill-description">Python, JavaScript, SQL</p>
                    </div>

                    <div class="skill">
                        <h3 class="skill-category">Frameworks</h3>
                        <p class="skill-description">
                            Flask, FastAPI, Django, TailwindCSS, Vue,
                            Python-Telegram-Bot
                        </p>
                    </div>

                    <div class="skill">
                        <h3 class="skill-category">Libraries</h3>
                        <p class="skill-description">
                            authlib, alembic, pytest, Poetry, asyncio, Selenium,
                            SQLAlchemy, Babel, Pydantic
                        </p>
                    </div>

                    <div class="skill">
                        <h3 class="skill-category">Tools</h3>
                        <p class="skill-description">
                            pgModeler, Postman, DBeaver
                        </p>
                    </div>

                    <div class="skill">
                        <h3 class="skill-category">Technologies</h3>
                        <p class="skill-description">
                            Git, Docker, Google Cloud, Typesense, Supabase,
                            Sentry, Doppler, Stripe, Neon, SendGrid
                        </p>
                    </div>

                    <div class="skill">
                        <h3 class="skill-category">Creative</h3>
                        <p class="skill-description">
                            Figma, Premiere Pro, Photoshop, Lightroom, Audition,
                            Lightroom, DaVinci Resolve, Canva, Mixxx, MuseScore
                        </p>
                    </div>
                </div>
                <hr class="linedivider" />
                <div class="experiences">
                    <h2 class="experiences-title">Experience</h2>
                    <div class="experience">
                        <span class="experience-position">
                            <h3>Chief Technology Officer</h3>
                            <span> @ Globalify</span>
                        </span>
                        <span class="experience-year">
                            June 2023 - Present
                            <span style="color: #969ba1">
                                ({{ dates["globalify"] }} days)
                            </span>
                            // Remote
                        </span>
                        <p class="experience-description">
                            - Designed and enigineered a new SaaS product to
                            commence the company's expansion into the global
                            market.
                        </p>
                        <p class="experience-description">
                            - Directed a 5-member team, delivering 2 new SaaS
                            products allowing the company to expand into new
                            markets.
                        </p>
                        <p class="experience-description">
                            - Established a deployment infrustructure that would
                            cut the deployment time by 50% and increase the
                            reliability of the system.
                        </p>
                    </div>
                    <div class="experience">
                        <span class="experience-position">
                            <h3>Course Mentor</h3>
                            <span>@ CEC AUCA</span>
                        </span>
                        <span class="experience-year">
                            Mar 2023 - July 2023
                            <span style="color: #969ba1">
                                ({{ dates["cec"] }} days)
                            </span>
                            // Kyrgyzstan
                        </span>
                        <p class="experience-description">
                            - Mentored over 25 students, breaking down complex
                            problems, leading to a 95% in student project
                            completion rates.
                        </p>
                        <p class="experience-description">
                            - Introduced innovative coding exercises that
                            improved creative thinking and problem-solving
                            skills.
                        </p>
                    </div>
                    <div class="experience">
                        <span class="experience-position">
                            <h3>Teacher</h3>
                            <span>@ Bilimkana-Bishkek</span>
                        </span>
                        <span class="experience-year">
                            Sep 2022 - Jun 2023
                            <span style="color: #969ba1">
                                ({{ dates["bilimkana"] }} days)
                            </span>
                            // Kyrgyzstan
                        </span>
                        <p class="experience-description">
                            - Developed and implemented a dynamic web
                            development curriculum, improving student engagement
                            and understanding, with a 20% increase in final
                            project submissions.
                        </p>
                        <p class="experience-description">
                            - Conducted regular assessments, adjusting teaching
                            methods to improve learning outcomes by 70%.
                        </p>
                        <p class="experience-description">
                            - Led coding workshops and interactive sessions,
                            resulting in a 25% improvement in student
                            engagement.
                        </p>
                    </div>
                    <div class="experience">
                        <span class="experience-position">
                            <h3>Python Developer</h3>
                            <span>@ DevelopsToday</span>
                        </span>
                        <span class="experience-year">
                            Aug 2022 - Feb 2023
                            <span style="color: #969ba1">
                                ({{ dates["developstoday"] }} days)
                            </span>
                            // Ukraine (Remote)
                        </span>
                        <p class="experience-description">
                            - Maintained scalable, asynchronous systems,
                            increasing the project's performance.
                        </p>
                        <p class="experience-description">
                            - Worked on crucial features that improved the user
                            experience.
                        </p>
                    </div>
                    <div class="experience">
                        <span class="experience-position">
                            <h3>Software Engineer</h3>
                            <span>@ ESO Association</span>
                        </span>
                        <span class="experience-year">
                            Oct 2021 - Aug 2022
                            <span style="color: #969ba1">
                                ({{ dates["eso"] }} days)
                            </span>
                            // The Netherlands
                        </span>
                        <p class="experience-description">
                            - Developed modular, reusable code across multiple
                            projects, reducing project delivery times by 20%.
                        </p>
                        <p class="experience-description">
                            - Collaborated with 5 internal committees,
                            introducing a brand new platform that increased
                            Association's engagement by 80%.
                        </p>
                    </div>
                </div>
                <!-- <hr class="linedivider" />
                <div class="projects">
                    <h2 class="projects-title">Projects</h2>
                    <div class="project">
                        <h3 class="project-name">
                            Student House Grocery Management System
                        </h3>
                        <p class="project-description">
                            A web app built with
                            <b>Flask</b> and <b>PostgreSQL</b> for keeping track
                            of the budget in a student house.
                        </p>
                    </div>
                    <div class="project">
                        <h3 class="project-name">Event Registration System</h3>
                        <p class="project-description">
                            A CRM system for an easy event registation and
                            creation. It's built with
                            <b>Django</b> and
                            <b>Python-Telegram-Bot</b>
                            and features interfaces through a web view and a
                            telegram bot.
                        </p>
                    </div>
                </div> -->
            </div>
        </main>
    </body>
</html>
